<?xml version="1.0"?>
<config>
    <modules>
        <SPM_ShopyMind>
            <version>1.2</version>
        </SPM_ShopyMind>
    </modules>

    <global>
    	<blocks>
            <spm_shopymind>
                <class>SPM_ShopyMind_Block</class>
            </spm_shopymind>
        </blocks>
        <helpers>
            <shopymind>
                <class>SPM_ShopyMind_Helper</class>
            </shopymind>
        </helpers>
        <models>
            <shopymind>
                <class>SPM_ShopyMind_Model</class>
            </shopymind>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <SPM_ShopyMind_Model_Observer>
                        <type>singleton</type>
                        <class>shopymind/observer</class>
                        <method>orderUpdateObserver</method>
                    </SPM_ShopyMind_Model_Observer>
                </observers>
            </sales_order_save_after>
            <customer_register_success>
                <observers>
                    <SPM_ShopyMind_Model_Observer>
                        <type>singleton</type>
                        <class>shopymind/observer</class>
                        <method>customerCreateAccountObserver</method>
                    </SPM_ShopyMind_Model_Observer>
                </observers>
            </customer_register_success>
            <admin_system_config_changed_section_shopymind_configuration>
                <observers>
                    <spm_shopymind_model_observer>
                        <type>singleton</type>
                        <class>shopymind/observer</class>
                        <method>adminSystemConfigChangedSectionShopymindConfiguration</method>
                    </spm_shopymind_model_observer>
                </observers>
            </admin_system_config_changed_section_shopymind_configuration>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <shopymind_configuration>
                    <files>
                        <shopymind>SPM_ShopyMind.csv</shopymind>
                    </files>
                </shopymind_configuration>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <shopymind>
                <use>standard</use>
                <args>
                    <module>SPM_ShopyMind</module>
                    <frontName>shopymind</frontName>
                </args>
            </shopymind>
        </routers>

        <layout>
            <updates>
                <spm_shopymind module="SPM_ShopyMind">
                    <file>shopymind.xml</file>
                </spm_shopymind>
            </updates>
        </layout>
    </frontend>
</config>
